---
import { MarkdownInstance } from "astro";
import { formatDate } from "src/utils/format-date";
import { getSlugFromPath } from "src/utils/get-slug-from-path";

export type Post = {
  author: string;
  date: string;
  title: string;
  description: string;
};

export interface Props {
  post: MarkdownInstance<Post>;
}

const { post } = Astro.props as Props;
const { author, date, title, description }: Post = post.frontmatter;

const url = `posts/${getSlugFromPath(post.file)}`

---

<article class="max-w-2xl p-8 my-8 rounded-xl bg-violet-200">
  <h2 class="text-2xl">{title}</h2>
  <div class="flex justify-between">
    <p class="text-sm italic ">By {author}</p>
    <time class="text-xs" datetime={date}>{formatDate(date)}</time>
  </div>
  <div class="flex flex-col">
    <p class="">{description}</p>
    <a
      class="text-lg hover:underline-offset-4 hover:underline hover:text-violet-900"
      href={url}
      aria-label={`Read ${title}`}>Read</a
    >
  </div>
</article>
