---
import { MarkdownInstance } from "astro";
import { formatDate } from "src/utils/format-date";
import { getSlugFromPath } from "src/utils/get-slug-from-path";

export type Post = {
  author: string;
  date: string;
  title: string;
  description: string;
};

export interface Props {
  post: MarkdownInstance<Post>;
  style?: string;
}

const { post, style } = Astro.props as Props;

/**
 * Not sure if I want to use 'author' and 'description'. 
 */
const { author, date, title, description }: Post = post.frontmatter;

const url = `posts/${getSlugFromPath(post.file)}`


const className = `${style} max-w-2xl p-8 my-8 bg-olive-200 rounded-xl`
---

<article class={className}>
  <h2 class="text-2xl"><a href={url} class="text-grey-800 hover:underline-offset-4 hover:underline hover:text-lavender-500">{title}</a></h2>
  <time class="text-xs" datetime={date}>{formatDate(date)}</time>
</article>
